/* imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Manrope:wght@200;300;400;600;700;800&display=swap');

/*root will makae it easy to access colors */
:root{
    --NordBlue: #1A2DD8;
    --White: #ffff;
    --Black: #00000;
    --DeepBlue: #111B71;
    --AquaBlue: #1BB8FB;
    --BrightOrange: #FFA629;
}
/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    font-size: 16px;
}
/* Navbar styling */
nav{
    background-color: var(--White);
    display: flex;
    margin: 0 2em;    
}

.nav-logo{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.nav-list{
    align-self: center;
    justify-self: center;
    margin-left: 3em;
}
ul{
    list-style: none;
    display: flex;
    gap: 2em;
}
.dropdown-btn{
    text-decoration: none;
    color: var(--NordBlue);
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--NordBlue);
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    color: var(--White);
    font-family: DM Sans;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  .dropdown-content a:hover{
    background-color: var(--BrightOrange);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
.nav-buttons{
    display: flex;
    align-self: center;
    margin-left: auto;
}
.nav-buttons > button:hover{
    cursor: pointer;
}
.login-btn{
    font-family: Manrope;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 10px 13px;
    line-height: 21.86px;
    margin-right: 1.5em;
    border-radius: 5px;
}
.login-btn > a{
    text-decoration: none;
    color: var(--NordBlue);
}
.login-btn > a:hover{
    color: var(--White);
}
.login-btn:hover{
    background-color: var(--BrightOrange);
    padding: 10px 13px;
}
.reg-btn{
    font-family: Manrope;
    font-weight: 700;
    background-color: var(--BrightOrange);
    text-align: center;
    border-radius: 5px;
    padding: 10px 13px;
    border: none;
    line-height: 21.86px;
    font-size: 16px;
}
.reg-btn > a{
    text-decoration: none;
    color: var(--White);
}
.reg-btn > a:hover{
    color: var(--NordBlue);
}
.hamburger-menu{
    width: 50px;
    height: 50px;
    display: none;
    position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
}
/*hero section*/
.images{
    margin-top: -60px;
    width: 600px;
}
.image {
    position: absolute;
    width: 605px;
    height: 672px;
    left: calc(50% - 655px/2 + 393.5px);
}
.imag {
    position: absolute;
    width: 676px;
    height: 653px;
    left: 452px;
   top: 50px;
}
.text {
    position: absolute;
    width: 452px;
    height: 136px;
    left: 71px;
    top: 258px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: #111B71;
}
.tex {
    position: absolute;
    width: 473px;
    height: 68px;
    left: 73px;
    top: 402px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
}
.te {
    position: absolute;
    width: 364px;
    height: 99px;
    left: 71px;
    top: 502px;
    background: #FA942B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
    .te  {
        padding-top: 30px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        /* identical to box height */
        color: #FFFFFF;
        text-align:center;
    }
.article {
    position: absolute;
    width: 1705px;
    height: 483px;
    left: 0px;
    top: 992px;
    background: #111B71;
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.16);
}
.para {
    font-family: 'Manrope';
    width: 231px;
    height: 55px;
    left: 76px;
    top: 1039px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */
    color: #FFFFFF;
}
.par {
    width: 1250px;
    height: 150px;
    left: 76px;
    top: 1115px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    padding-left: 50px;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    padding-top:20px;
}
.pa {
    width: 250px;
    height: 51px;
    left: 76px;
    top: 1374px;
    background: #FA942B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
}

.parag {
    position: absolute;
    height: 55px;
    width: 521px;
    left: 71px;
    top: 1521px;
    color: #111B71;
    border-radius: nullpx;
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}

.p {
    color: #111010;
    position: absolute;
    height: 55px;
    width: 1064px;
    left: 71px;
    top: 1616px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 39.06px;
    letter-spacing: 0.09em;
    text-align: left;
}

.section-logo {
    height: 531px;
    width: 551px;
    left: 964px;
    top: 1503px;
    border-radius: 108px;
    position: absolute;
}

.main {
    color: #111B71;
    position: absolute;
    height: 55px;
    width: 291px;
    left: 71px;
    top: 2012px;
    border-radius: nullpx;
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;

}

#crcl1 {
    position: absolute;
    height: 259px;
    width: 258px;
    left: 310px;
    top: 2058px;
    border-radius: 100%;
    background: radial-gradient(118.34% 118.34% at 82.75% -18.34%,
     #111B71 31.72%, #FFA629 70.64%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.25);
}

.p1 {
    height: 85px;
    width: 201px;
    left: 339px;
    top: 2133px;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#crcl2 {
    position: absolute;
    height: 259px;
    width: 258px;
    left: 590px;
    top: 2046px;
    border-radius: 100%;
    background: #FFA629;
    box-shadow: 8px 5px 6px 6px rgba(0, 0, 0, 0.25);
}

.p2 {
    height: 85px;
    width: 201px;
    left: 619px;
    top: 2133px;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#crcl3 {
    position: absolute;
    height: 258px;
    width: 258px;
    left: 808px;
    top: 2247px;
    border-radius: 100%;
    background: #111B71;
    box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.25);
}

.p3 {
    height: 42px;
    width: 201px;
    left: 837px;
    top: 2354px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#crcl4 {
    position: absolute;
    height: 259px;
    width: 258px;
    left: 726px;
    top: 2506px;
    border-radius: 100%;
    background: #FFA629;
    box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.25);
}

.p4 {
    height: 85px;
    width: 201px;
    left: 737px;
    top: 2605px;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#crcl5 {
    position: absolute;
    height: 259px;
    width: 258px;
    left: 450px;
    top: 2500px;
    border-radius: 100%;
    background: radial-gradient(118.34% 118.34% at 82.75% -18.34%,
     #111B71 31.72%, #FFA629 70.64% ) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.25);
}

.p5 {
    height: 85px;
    width: 201px;
    left: 478px;
    top: 2585px; 
    margin-top: 70px;
    margin-left: 30px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#crcl6 {
    position: absolute;
    height: 258px;
    width: 259px;
    left: 233px;
    top: 2320px;
    border-radius: 100%;
    background: #111B71E8;
    box-shadow: 8px 5px 6px 0px #00000040;
}

.p6 {
    height: 85px;
    width: 236px;
    left: 262px;
    top: 2320px;
    margin-top: 80px;
    margin-left: 10px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

/* Media quaries for the navbar */
@media (max-width: 700px) {

    nav {
        flex-direction: column;
    }

    .nav-list {
        display: none;
    }

    ul {
        flex-direction: column;
    }

    .nav-buttons {
        flex-direction: column;
        margin-top: 10px;
        gap: 1em;
        margin-left: .5em;
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .image {
        top: 500px;
        margin-left: -290px;
        width: 450px;
        height: 350px;
    }

    .imag {
        display: none;
    }

    .text {
        font-size: 40px;
        top: 130px;
    }

    .tex {
        font-size: 12px;
        top: 280px;
        left: 40px;
    }

    .te {
        top: 380px;
    }

    .article {
        position: absolute;
        width: 480px;
        height: 423px;
        margin-top: 90px;
    }
    .par{
        font-size: 15px;
        margin-right: 50px;
    }
    .para{
        margin-top: 10px;
    }
}
